{% extends 'layout.html' %}

{%block content%}
<main class="conteiner-fluid d-flex flex-column mt-auto align-items-center">
    <div class="row d-flex flex-column align-items-center  w-100">
        <div class="col py-2 px-0">
            <h1 class="fw-bold t text-center">Quer saber se a URL é maliciosa?</h1>
        </div>
        <div class="col pb-2 px-0">
            <h4 class="t text-center">Digite-a abaixo e descubra</h4>
        </div>
        <form action="{% url 'predict' %}" method="post" class="col-10 col-sm-10 col-md-9 col-lg-8 col-xl-6 col-xxl-5 py-1 mt-md-2">{% csrf_token %}
            <div class="input-group " style="height: 42px;">
                <input type="text" class="form-control" name="Input" placeholder="https://www.google.com" aria-label="https://www.google.com" aria-describedby="button-addon2">
                <button style="color:white;" class="btn  c" type="submit" id="button-addon2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    Analisar
                    
                </button>
            </div>
        </form>
    </div>
</main>

{%endblock%}